@each $name, $color in $colors {
	// .has-#{$name}-color {
	// 	color: $color;
	// }

	.has-#{$name}-background,
	.has-#{$name}-background-color {
		background-color: $color;
		&:not(.has-text-color) {
			color: color-yiq($color);
		}
	}

	.has-#{name}-border,
	.has-#{name}-border-color {
		border-color: $color;
	}

}
