$layout-size-wide: 1280px !default;
// Layout
$grid-breakpoints: (
	xs: 0,
	sm: 599px,
	md: 781px,
	//Adjusted for gutenberg breakpoints
	lg: 992px,
	//Adjusted for gutenberg breakpoints
	xl: 1200px,
);

$container-max-widths: (
	sm: 563px,
	md: 720px,
	//Adjusted for gutenberg breakpoints
	lg: 960px,
	//Adjusted for gutenberg breakpoints
	xl: $layout-size-wide,
);


$font-family-sans-serif: $font-family-sans-serif;
$font-px-base: 16;
$spacer: 1rem;
$fa-font-path: "../dist";
